@model Store.Models.Product
@{
    ViewBag.Title = "Details";
 }

<div class="shopId">
    <div><img src="@Url.Content("/Content/Images/" + Model.Image)" /> </div>
</div>
<br><br>
Name : @Html.DisplayFor(modelItem => Model.Title)
<br>
Category name : @Html.DisplayFor(modelItem => Model.Category.CategoryName)
<br>
Price : @Html.DisplayFor(modelItem => Model.Price)
<br>
Description : @Html.DisplayFor(modelItem => Model.Description)
<br>
<br>
<div class="buttondetails">@Html.ActionLink("Buy", "AddToCart","ShoppingCart", new { id = Model.ProductId }, "")</div>


