@model IEnumerable<Store.Models.Tovar>

@helper Truncate(string input, int length)
{
    if (input.Length <= length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}
@{
    ViewBag.Title = "Главная";
    List<int> temp = ViewBag.listCompare;
}

<br />
@Html.Partial("_CompareProducts", temp.Count)

@foreach (var item in Model)
{
    <div class="shopId">
        <div class="shopIdHeader">
            <div class="shopIdPrice">@Truncate(item.Title, 8)</div>
            @Ajax.ActionLink("Compare", "AddCompare", "Store", new { id = item.TovarId }, new AjaxOptions { UpdateTargetId = "compareProducts" }, new {@class = "buttoncompareadd" })
        </div>
        <div>
            <a href="@Url.Action("Details", "Store", new {id = item.TovarId})">
                <img src="@Url.Content(item.Image)" />
            </a>
        </div>
        <div class="shopIdTitle">
            Description: @Truncate(item.Description, 20)
            <br>
            Price: @Html.DisplayFor(modelItem => item.Price) RUB.
            <div class="buttonbuy">@Html.ActionLink("To cart", "AddToCart", "ShoppingCart", new { id = item.TovarId }, "")</div>
        </div>
    </div>
}


