@model IEnumerable<Store.Models.Product>
@{
    ViewBag.Title = "Show compare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Compare</h2>
@if (Model.Any()){
<div class="buttoncomparedel">@Html.ActionLink("Delete all", "DeleteAllCompare", "Store")</div>
<br />

    <table class="compareTab">
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Count</th>
            <th>Description</th>
            <th></th>
        </tr>
    @foreach(var item in Model){
            <tr id="@item.ProductId">
                <td><img src="@Url.Content(item.Image)"/></td>
                <td>@Html.Truncate(item.Title, 25)</td>
                <td>@item.Price</td>
                <td>@item.Amount</td>
                <td>@Html.Truncate(item.Description, 50)</td>
                <td>
                    @Ajax.ActionLink("Delete", "DeleteCompare", "Store", new { id = item.ProductId }, new AjaxOptions { UpdateTargetId = item.ProductId.ToString(), InsertionMode = InsertionMode.Replace}, null)
                </td>
            </tr>
    }
    </table>
}
else {
    <p>Select products!</p>
    <br />
    <div class="buttoncomparedel"><a href="/Store/Index/">Go to the main page</a></div>
}
