@model Store.Models.ShoppingCartViewModel

@{
    ViewBag.Title = "Cart";
}
<script type="text/javascript">
    $(function () {
        $(".RemoveLink").click(function () {
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != '') {
                // Perform the ajax post
                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        if (data.ItemCount == 0) {
                            $('#row-' + data.DeleteId).fadeOut('slow');
                        } else {
                            $('#item-count-' + data.DeleteId).text(data.ItemCount);
                        }
                        $('#cart-total').text(data.CartTotal);
                        $('#update-message').text(data.Message);
                        $('#cart-status').text('Cart(' + data.CartCount + ')');
                    });
            }
        });
    });
</script>

<h3>Your cart: </h3>
<p class="button">
    @Html.ActionLink("Create order", "AddressAndPayment", "Checkout")
</p>
<br />
<div id="update-message">
</div>

<div class="Tab">
    <table>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Count</th>
            <th>Description</th>
            <th></th>
        </tr>
        @foreach (var item in Model.CartItems)
        {
            <tr id="row-@item.CartId">
                <td>
                    @Html.ActionLink(item.Product.Title, "AddToCart", "ShoppingCart", new { id = item.ProductId }, "")
                </td>
                <td>
                    @item.Product.Price
                </td>
                <td id="item-count-@item.CartId">
                    @item.Count
                </td>
                <td>
                    @Html.Truncate(item.Product.Description, 10)
                </td>
                <td>
                    <a href="#" class="RemoveLink" data-id="@item.CartId">Delete from cart</a>
                </td>
            </tr>
        }
        <tr>
            <td>
                <strong>TOTAL:</strong>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <strong id="cart-total">@Model.CartTotal </strong>
            </td>
        </tr>
    </table>
</div>
