@model Store.Models.Product

@{
    ViewBag.Title = "Admin-товар";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="shopId">
    <div><img src="@Url.Content(Model.Image)" /> </div>
</div>
<br><br>
Название товара : @Html.DisplayFor(modelItem => Model.Title)
<br>
Категория : @Html.DisplayFor(modelItem => Model.Category.CategoryName)
<br>
Цена : @Html.DisplayFor(modelItem => Model.Price) руб.
<br>
Количество : @Html.DisplayFor(modelItem => Model.Amount)
<br>
Описание : @Html.DisplayFor(modelItem => Model.Description)
<br>
<br>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id=Model.ProductId }) |
    @Html.ActionLink("Удалить", "Delete", new { id=Model.ProductId }) |  
    @Html.ActionLink("Вернуться обратно", "Index")
</p>
