@model Store.Models.Tovar

@{
    ViewBag.Title = "Admin-товары";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Редактирование товара:</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Товар</legend>

        @Html.HiddenFor(model => model.TovarId)

        <div class="editor-label">
            Категория
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategId", String.Empty)
            @Html.ValidationMessageFor(model => model.CategId)
        </div>

        <div class="editor-label">
           Название товара
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
           Цена
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            Количество
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </div>

        <div class="editor-label">
            Описание
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
           Картинка
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Image)
            @Html.ValidationMessageFor(model => model.Image)
        </div>
        <br>
        <p>
            <input class="buttonsubmit" type="submit" value="Сохранить" />
        </p>
        <br>
        <div>
             @Html.ActionLink("Вернуться обратно", "Index")
        </div>
    </fieldset>
}
