@model IEnumerable<Store.Models.OrderDetail>
@{
    ViewBag.Title = "Orders - Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Orders of the user: @ViewBag.Username</h2>
<div>
    @Html.ActionLink("Back", "Index")
</div>
<br />

<table>
    @foreach(var orderId in Model.Select(i => i.Order.OrderId).Distinct())
    {
        <tr>
            <td>The order # @Html.DisplayFor(i => orderId)
                @Html.ActionLink("Info", "UserCartDetails", "Order", new { id = orderId }, "") |
                @Html.ActionLink("Delete order", "Delete", "Order", new { id = orderId }, "")
            </td>
        </tr>
        <tr><td>---------------------------------</td></tr>
    }
</table>
