<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
</head>
<body>
    <!--begin #container-->
    <div id="container">
        <!-- begin #header -->
        <div id="header">
            <div class="items">             
                <ul> 
                    <li>@Html.Partial("_LogOnPartial")</li> 
                </ul>
            </div>
                <div class="logo">
                    Handmade <span>Store</span>                    
                </div>
        
            <br class="clearfloat" />

            <div id="navcontainer">
                <ul id="navlist">
                   <li class="first"><a href="@Url.Content("~")" id="current">Главная</a></li>
                    <li>@Html.ActionLink("XML", "Myxml", "Store")</li>
                   <li>@Html.ActionLink("Контакты", "About", "Home")</li>
                </ul>
            </div>
        </div>
        <!-- end #header -->
        <!-- begin #sidebar1 -->
        <div id="sidebar1">
            <h2>Каталог таблиц</h2>
            <ul id="sidebarlist">
                <li>@Html.ActionLink("Товары", "Index", "StoreManager")</li>
                <li>@Html.ActionLink("Категории", "Index", "StoreManagerCat")</li>
                <li>@Html.ActionLink("Заказы", "Index", "StoreManagerUser")</li>
            </ul>
        </div>
        <!-- end #sidebar1 -->
        <!-- begin #mainContent -->
        <div id="mainContent">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <!-- end #mainContent -->
        <br class="clearfloat" />
    </div>
    <!-- end #container -->
    <!-- begin #footer -->
    <div id="footer">
        <div class="footerBody">
            <div class="copyright">
                Copyright &copy; @DateTime.Now.Year  Store
            </div>
        </div>
    </div>
    <!-- end #footer -->
    @RenderSection("scripts", required: false)
</body>
</html>
