<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="@Url.Content("~/ball.ico")" type="image/x-icon">
  @*  <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css"/>
   
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
</head>
<body>
<!--begin #container-->
<div id="container">
<!-- begin #header -->
<div id="header">
    <div>
        <div class="items">             
            <ul> 
                <li>@Html.Partial("_LogOnPartial")</li>
                <li>@Html.Action("CartSummary", "ShoppingCart")</li>  
            </ul>
        </div>
    
        <div class="logo">
            <img src="@Url.Content("~/Content/cart1.png")" />
        </div>
    </div>

    <br class="clearfloat" />

    <div id="navcontainer">
        <ul id="navlist">
           <li class="first"><a href="@Url.Content("~")" id="current">Main</a></li>
           <li>@Html.ActionLink("About", "About", "Home")</li>
            @if (Request.IsAuthenticated && User.IsInRole("Administrator"))
            {
                <li>@Html.ActionLink("Admin", "Index", "Product")</li>
            }
            <li class="search">
                <a>
                @using (Html.BeginForm("Search", "Store", FormMethod.Post, null))
                {
                    <input class="searcharea" type="text" name="see" id="see"/>
                    <input class="buttonsearch" type="submit" value="Search"/>
                }
                </a>
            </li>
         </ul>
     </div>
     <div class="headerPic">
        <div class="headerDescription"></div>
        <div class="headerDetails"></div>
     </div>
</div>
<!-- end #header -->
<!-- begin #sidebar1 -->
      <div id="sidebar1">
        <h2>Categories</h2>
         <ul>
         <li>@Html.ActionLink("All products", "Index", "Store")</li>
         </ul>
             @{Html.RenderAction("CategMenu", "Store");}
      </div>
<!-- end #sidebar1 -->
<!-- begin #mainContent -->
    <div id="mainContent">         
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>         
    </div>
<!-- end #mainContent -->
        <br class="clearfloat" />
</div>
<!-- end #container -->
<!-- begin #footer -->
    <div id="footer">
        <div class="footerBody">
            <div class="copyright">
                Copyright &copy; @DateTime.Now.Year  Sport Store.
            </div>
        </div>
    </div>
 <!-- end #footer -->
@RenderSection("scripts", required: false)  
    
    <script type="text/javascript">
    $('#see').keyup(function() {
        var value = $(this).val();
       
        $.ajax({
            url: '@Url.Action("Search", "Store")',
            data: { see: value },
            success: function (dat) {
                $('#products').html(dat);
            }
        });
    })
    </script>
</body>
</html>
