@model Store.Models.Product
@{
    Layout = null;
}

<div class="shopId">
    <div class="shopIdHeader">
        <div class="shopIdPrice">@Html.Truncate(Model.Title, 8)</div>
        @Ajax.ActionLink("Compare", "AddCompare", "Store", new { id = Model.ProductId }, new AjaxOptions { UpdateTargetId = "compareProducts" }, new { @class = "buttoncompareadd" })
    </div>
    <div>
        <a href="@Url.Action("Details", "Store", new {id = Model.ProductId})">
            <img src="@Url.Content(Model.Image)" />
        </a>
    </div>
    <div class="shopIdTitle">
        Description: @Html.Truncate(Model.Description, 20)
        <br>
        Price: @Html.DisplayFor(modelItem => Model.Price) RUB.
        <div class="buttonbuy">@Ajax.ActionLink("To cart", "AddToCart", "ShoppingCart", new { id = Model.ProductId }, new AjaxOptions {UpdateTargetId = "cart-status" })</div>
    </div>
</div>