@model Store.Models.Product

@{
    ViewBag.Title = "Product - Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="shopId">
    <div><img src="@Url.Content("/Content/Images/" + Model.Image)" /> </div>
</div>
<br><br>
Product name : @Html.DisplayFor(modelItem => Model.Title)
<br>
Category : @Html.DisplayFor(modelItem => Model.Category.CategoryName)
<br>
Price : @Html.DisplayFor(modelItem => Model.Price)
<br>
Amount : @Html.DisplayFor(modelItem => Model.Amount)
<br>
Description : @Html.DisplayFor(modelItem => Model.Description)
<br>
<br>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ProductId }) |  
    @Html.ActionLink("Back to all", "Index")
</p>
