@model IEnumerable<Store.Models.Product>

@helper Truncate(string input, int length)
 {
    if (input.Length <= length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}

@{
    ViewBag.Title = "Products - Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br>
<p>
    @Html.ActionLink("Create a new product", "Create")
</p>
<br>
<div class="adminTab">
    <table>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Description</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @Html.HiddenFor(modelItem => item.ProductId)
                <td>
                    <div class="adminImg"><img src="@Url.Content(item.Image)"/>
                    </div>
                </td>
                <td>
                    @Truncate(item.Title, 20)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Truncate(item.Description, 20)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.ProductId}) |
                    @Html.ActionLink("Details", "Details", new {id = item.ProductId}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.ProductId})
                </td>
            </tr>
        }
    </table>
</div>
